$layout-width: calc(100% - 2rem);
$layout-max-width: 600px;
$layout-margin: 2rem auto;

h2 {
  text-align: center;
  margin: 2rem !important;
}
table {
  width: $layout-width;
  max-width: $layout-max-width;
  margin: $layout-margin;
  .mat-header-cell {
    text-align: center;
    padding: 0 1em;
  }
  .mat-cell {
    padding: 0 1em;
  }
  .mat-column-numero,
  .mat-column-porcentagem,
  .mat-column-votos {
    text-align: center;
  }
}
mat-card, footer {
  width: $layout-width;
  max-width: $layout-max-width;
  margin: $layout-margin;
}

footer {
  text-align: center;
}